*{padding:0;margin:0;border:0;text-align: left;font-style: normal;font-weight:normal;font-size: 14px;-webkit-tap-highlight-color:rgba(0,0,0,0);	-webkit-touch-callout:none;/*绂佹閾炬帴闀挎寜寮瑰嚭閫夐」鑿滃崟*/}
nav,footer,section,header,article{display:block;}
ul{list-style: none;}
/* navigation01 */
.navigation01{width: 100%;position:relative;}
.navigation01 .navBody{height:36px;overflow: hidden;margin:0 20px;}
.navigation01 .navBody ul{overflow: hidden;display:-moz-box;	display:-webkit-box;display:box;-moz-box-orient:horizontal;-webkit-box-orient:horizontal;box-orient:horizontal;}
.navigation01 .navBody li{text-align:center; min-width: 70px;}
.navigation01 .navBody li span{height: 36px;	line-height: 36px;padding:0 8px;display: block;text-align:center;}
.navigation01 .navBarL,.navigation01 .navBarR{float:left;width:19px;height:36px;position:absolute;top:0;}
.navigation01 .disTap span{opacity:0.3;}
.navigation01 .navBarL{left:0px;}
.navigation01 .navBarR{right:0px;}
.navigation01 .navBarL span,.navigation01 .navBarR span{	width:6px;height:12px;display:block;margin:12px 0 0 6px;background: url(../default/qy_t_img/icon_prev_next.png) no-repeat;}
.navigation01 .navBarL span{	background-position:-5px -2px;}
.navigation01 .navBarR span{	background-position:-22px -2px;}
/*Front*/


.FrontSlide .bannerScrollWrap{width:100%;margin:0 auto;overflow:hidden;}
.FrontSlide .bannerList li{ width:100%;float: left;text-align: center;background-size:20px;}
.FrontSlide .bannerList li a{line-height:0px;display:block;padding:0px;}
.FrontSlide .bannerList li a img{width:100%;}
.FrontSlide #bannerNav {width:100%;text-align: center;position: absolute;left: 0px;bottom: 2px;z-index: 999;}
.FrontSlide #bannerScroll .prev,.FrontSlide #bannerScroll .next{width:25px;height:100%;line-height:100%;vertical-align:middle;position: absolute;z-index: 9999;top:0px;display: -webkit-box;-webkit-box-orient: horizontal;-webkit-box-pack: center;-webkit-box-align: center;display: -moz-box;-moz-box-orient: horizontal;-moz-box-pack: center;-moz-box-align: center;display: -o-box;-o-box-orient: horizontal;-o-box-pack: center;-o-box-align: center;display: -ms-box;-ms-box-orient: horizontal;-ms-box-pack: center;-ms-box-align: center;display: box;box-orient: horizontal;box-pack: center;box-align: center;}
.FrontSlide #bannerScroll .prev{left:0px;}
.FrontSlide #bannerScroll .next{right:0px;}
.FrontSlide .prev span,.FrontSlide .next span{width:25px;height: 40px;display:block;background:#000 url(../default/qy_t_img/arrow_06.png) no-repeat;vertical-align:middle;opacity:0.5;}
.FrontSlide .prev .touch,.FrontSlide .next .touch {opacity:0.7;}
.FrontSlide #prev {background-position: 3px 50%;-moz-border-radius-topright:3px;-moz-border-radius-bottomright:3px;-webkit-border-top-right-radius:3px;-webkit-border-bottom-right-radius:3px;border-top-right-radius:3px;border-bottom-right-radius:3px;}
.FrontSlide #next {background-position: -18px 50%;-moz-border-radius-topleft:3px;-moz-border-radius-bottomleft:3px;-webkit-border-top-left-radius:3px;-webkit-border-bottom-left-radius:3px;border-top-left-radius:3px;border-bottom-left-radius:3px;}
.FrontSlide #indicator,.FrontSlide #indicator > em {display: inline-block;}
.FrontSlide #indicator {width:auto;}
.FrontSlide #indicator > em:last-child {margin:0;}


.navigation01 .navBarL span{	background-position:-5px -2px;}
.navigation01 .navBarR span{	background-position:-22px -2px;}
.navigation01{border:1px solid #d9c0f9; border-left:0;border-right:0;background:-webkit-gradient(linear, 0 0, 0 100%, from(#d9c0f9), to(#d9c0f9));filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9c0f9', endColorstr='#d9c0f9');}
.navigation01 .navBody li span{color: #fff;text-shadow: 1px 1px 1px #c69ff8;border-left:1px solid #c69ff8;border-right:1px solid #c69ff8;}


