<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />  <!--自适应宽度,并不允许缩放-->
<script src="js/html5.js"></script>
<script src="js/html5media.min.js"></script>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<title>【IN】订阅</title>
</head>

<body>
<div class="top">
		<h3>【IN】订阅</h3>
</div>
<div class="line"> </div>
<div class="dingyue">
	<div class="dingyue_left"><img src="images/left.gif" width="100%" height="100%"></div>
	<div class="dingyue_right">
		<div class="dingyue_right right_content">
		  <p>城市生活新主张</p>
		  <p>哈覅是覅是</p>
		  <p>城市生活新主张</p>
		  <p>哈覅是覅是</p>
		  <p>城市生活新主张</p>
		  <p>哈覅是覅是</p>
		  <p>城市生活新主张</p>
		  <p>哈覅是覅是</p>
		  <p>城市生活新主张</p>
		  <p>哈覅是覅是</p>
		</div>
		<div style="clear:both"></div>
		<div class="right_title">最新一期</div>
		<div class="x"></div>
	</div>
</div>

<div class="dingyue">
<div class="dingyue_right dingyue1_left">
		<div class="dingyue_right dingyue1_left right1_content">
		  <p>城市生活新主张</p>
		  <p>哈覅是覅是</p>
		  <p>城市生活新主张</p>
		  <p>哈覅是覅是</p>
		  <p>城市生活新主张</p>
		  <p>哈覅是覅是</p>
		  <p>城市生活新主张</p>
		  <p>哈覅是覅是</p>
		  <p>城市生活新主张</p>
		  <p>哈覅是覅是</p>
		</div>
		<div style="clear:both"></div>
		<div class="right_title">最新一期</div>
		<div class="x"></div>
	</div>
	<div class="dingyue_left dingyue1_right"><img src="images/left.gif" width="100%" height="100%"></div>
</div>
<div class="line" style="margin-top:5px;"> </div>
<div style="height:90px;"></div>
<footer class="foot"><img src="images/success.jpg"></footer>
</body>
</html>
