<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />  <!--自适应宽度,并不允许缩放-->
<script src="js/html5.js"></script>
<script src="js/html5media.min.js"></script>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<title>城色活动</title>
</head>

<body>
<div class="top">
	<ul>
		<li style="text-align:left; margin-left:-20px;"><img src="images/go.png"></li>
		<li>秀色可餐</li>
		<li style="text-align:right; margin-left:20px;"><img src="images/break.png"></li>
	</ul>
</div>
<div class="line"> </div>
<div class="food">
	<img src="images/cai.gif" width="97%" height="120" style="padding:5px;">
	<div style="width:99%; margin-top:-40px;">
		<img src="images/bg.png" style="width:95%; height:30px; margin-left:5px;">
		<div class="jieshao">菜品介绍</div>
	</div>
	<div class="xuxian"></div>
	<div>
		<div class="share">
			达人品鉴分享
		</div>
		<div style="float:right;width:35%;">
			<img src="images/share.gif" style="width:95%; height:28%">
		</div>
	</div>
</div>
<div class="food">
	<img src="images/cai.gif" width="97%" height="120" style="padding:5px;">
	<div style="width:99%; margin-top:-40px;">
		<img src="images/bg.png" style="width:95%; height:30px; margin-left:5px;">
		<div class="jieshao">菜品介绍</div>
	</div>
	<div class="xuxian"></div>
	<div>
		<div class="share">
			达人品鉴分享
		</div>
		<div style="float:right;width:35%;">
			<img src="images/share.gif" style="width:95%; height:28%">
		</div>
	</div>
</div>
<div style="height:90px;"></div>
<footer class="foot"><a href="huodong.html"><img src="images/success.jpg"></a></footer>
</body>
</html>
