<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:context="http://www.springframework.org/schema/context"
   xmlns:osgi="http://www.springframework.org/schema/osgi"
   xmlns:rc7-web="http://www.udrm.net/schema/rc7/rc7-web"
   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
      http://www.springframework.org/schema/osgi http://www.springframework.org/schema/osgi/spring-osgi.xsd
      http://www.udrm.net/schema/rc7/rc7-web http://www.udrm.net/schema/rc7/rc7-web.xsd ">

   <osgi:reference id="dbcpDataSource" interface="org.apache.commons.dbcp.BasicDataSource" />
   <osgi:reference id="packageAdmin" interface="org.osgi.service.packageadmin.PackageAdmin" />
   <osgi:reference id="sessionFactory" interface="org.hibernate.SessionFactory" />
   
   <osgi:reference id="serviceModule2Dao" interface="net.risesoft.soa.asf.dao.ServiceModule2Dao" />
   <osgi:reference id="serviceComponent2Dao" interface="net.risesoft.soa.asf.dao.ServiceComponent2Dao" />
   <osgi:reference id="serviceLogDao" interface="net.risesoft.soa.asf.dao.ServiceLogDao" />
   <osgi:reference id="repositoryManager" interface="egov.appservice.asf.service.RepositoryManager" />
   <osgi:reference id="thirdpartyServiceProcessor" interface="net.risesoft.soa.asf.core.thirdparty.ThirdpartyServiceProcessor" />
   
   <osgi:reference id="ticketRegistry" interface="org.jasig.cas.ticket.registry.TicketRegistry" />
   
   <osgi:reference id="bizlogService" interface="net.risesoft.soa.framework.bizlog.BizLogService" />
   
   <osgi:reference id="checkLicense" interface="frameserver.license.CheckLicense" />

   <context:annotation-config />
      
   <context:component-scan base-package="net.risesoft.soa.asf.web.helper"  />
   
   <bean id="sigarJmxRegister" class="net.risesoft.soa.asf.web.jmx.SigarJmxRegister" 
         init-method="register" />
         
   <bean id="hibernateJmxRegister" class="net.risesoft.soa.asf.web.jmx.HibernateJmxRegister"
         init-method="register" />      
   
   <rc7-web:register-top-menu 
      title="ASF 管理控制台" href="/asf" index="300" 
      image="/framework/images/head/icon_asf_blue.png"/>
   
</beans>