<!DOCTYPE HTML>
<html  lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script src="js/jquery-1.4.4.min.js"></script>
<title>全部商品</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />  <!--自适应宽度,并不允许缩放-->
<script mce_src="html://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<script src="http://html5media.googlecode.com/svn/trunk/src/html5media.min.js"></script>
<link rel="stylesheet" href="css/style.css" />
</head>

<body>
<div id="rcyp">
	全部商品
</div>

<div style="width:100%; margin-top:20px;" id="price">
	<div style="float:left; margin-left:5%;">
		<a href="xiangxi.html"><img src="images/rcyp.png"  width="110" height="140" border="none"/></a>
		<p>商品名称</p>
		<p>￥26</p>
	</div>
	<div style="float:right; margin-right:5%;">
		<a href="xiangxi.html"><img src="images/rcyp.png"  width="110" height="140" border="none"/></a>
		<p>商品名称</p>
		<p>￥26</p>
		
	</div>
</div>
<div style="clear:both"></div>
<div style="width:100%; margin-top:20px;" id="price">
	<div style="float:left; margin-left:5%;">
		<a href="xiangxi.html"><img src="images/rcyp.png"  width="110" height="140" border="none"/></a>
		<p>商品名称</p>
		<p>￥26</p>
		
	</div>
	<div style="float:right; margin-right:5%;">
		<a href="xiangxi.html"><img src="images/rcyp.png"  width="110" height="140" border="none"/></a>
		<p>商品名称</p>
		<p>￥26</p>
		
	</div>
</div>

<div style="clear:both"></div>
<div style="height:50px;"></div>
<footer>
		<ul>
			<li>
				<div><img src="images/sy.png"  width="20" height="20"/></div>
				<div style="margin-top:5px;"><a href="index.html">首页</a></div>
			</li>
			<li>
				<div><img src="images/yz.png"  width="20" height="20"/></div>
				<div style="margin-top:5px;"><a href="fenlei.html">我的银座</a></div>
			</li>
			<li>
				<div><img src="images/shop.png"  width="20" height="20"/></div>
				<div style="margin-top:5px;"><a href="login.html">购物车</a></div>
			</li>
			<li>
				<div><img src="images/ss.png"  width="20" height="20"/></div>
				<div style="margin-top:5px;"><a href="search.html">搜索</a></div>
			</li>
			<li>
				<div><img src="images/more.png"  width="20" height="20"/></div>
				<div style="margin-top:5px;"><a href="all.html">更多</a></div>
			</li>
		</ul>
	</footer>
</body>
</html>
