<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />  <!--自适应宽度,并不允许缩放-->
<script mce_src="html://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<script src="http://html5media.googlecode.com/svn/trunk/src/html5media.min.js"></script>
<link rel="stylesheet" href="css/style.css" />
</head>

<body>
<div id="rcyp">
	商品分类
</div>
<nav>
		<ul>
			<a href="rcyp.html">
			<li>
				<ul>
					<li><img src="images/rc.png"  width="50" height="50"/></li>
					<li id="li2"><span id="list1">日常用品</span></li>
					<li id="li1"><img src="images/jiantou.png" /></li>
					<div id="div1"><img src="images/xian.png"  width="100%"/></div>
				</ul>
			</li>
			</a>
			<a href="fzxm.html">
			<li>
				<ul>
					<li><img src="images/fz.png" width="50" height="50"/></li>
					<li id="li2"><span id="list1">服装鞋帽</span></li>
					<li id="li1"><img src="images/jiantou.png" /></li>
					<div id="div1"><img src="images/xian.png"  width="100%"/></div>
				</ul>
			</li>
			</a>
			<a href="dzsp.html">
			<li>
				<ul>
					<li><img src="images/dz.png"  width="50" height="50"/></li>
					<li id="li2"><span id="list1">电子商品</span></li>
					<li id="li1"><img src="images/jiantou.png" /></li>
					<div id="div1"><img src="images/xian.png"  width="100%"/></div>
				</ul>
			</li>
			</a>
			<a href="ghhz.html">
			<li>
				<ul>
					<li><img src="images/hz.png"  width="50" height="50"/></li>
					<li id="li2"><span id="list1">个护化妆</span></li>
					<li id="li1"><img src="images/jiantou.png" /></li>
					<div id="div1"><img src="images/xian.png"  width="100%"/></div>
				</ul>
			</li>
			</a>
			<a href="ydjk.html">
			<li>
				<ul>
					<li><img src="images/yd.png" width="50" height="50"/></li>
					<li id="li2"><span id="list1">运动健康</span></li>
					<li id="li1"><img src="images/jiantou.png" /></li>
					<div id="div1"><img src="images/xian.png"  width="100%"/></div>
				</ul>
			</li>
			</a>
			<a href="all.html">
			<li>
				<ul>
					<li><img src="images/all.png"  width="50" height="50"/></li>
					<li id="li2"><span id="list1">全部</span></li>
					<li id="li1"><img src="images/jiantou.png" /></li>
					<div id="div1" style="margin-bottom:50px;"><img src="images/xian.png"  width="100%"/></div>
				</ul>
			</li>
			</a>
		</ul>
	</nav>
	<footer>
		<ul>
			<li>
				<div><img src="images/sy.png"  width="20" height="20"/></div>
				<div style="margin-top:5px;"><a href="index.html">首页</a></div>
			</li>
			<li>
				<div><img src="images/yz.png"  width="20" height="20"/></div>
				<div style="margin-top:5px;"><a href="fenlei.html">我的银座</a></div>
			</li>
			<li>
				<div><img src="images/shop.png"  width="20" height="20"/></div>
				<div style="margin-top:5px;"><a href="login.html">购物车</a></div>
			</li>
			<li>
				<div><img src="images/ss.png"  width="20" height="20"/></div>
				<div style="margin-top:5px;"><a href="search.html">搜索</a></div>
			</li>
			<li>
				<div><img src="images/more.png"  width="20" height="20"/></div>
				<div style="margin-top:5px;"><a href="all.html">更多</a></div>
			</li>
		</ul>
	</footer>
</body>
</html>
