<!DOCTYPE HTML>
<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>银座之家</title>
<script src="js/jquery-1.4.4.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />  <!--自适应宽度,并不允许缩放-->
<script mce_src="html://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<script src="http://html5media.googlecode.com/svn/trunk/src/html5media.min.js"></script>
<script src="js/slides.min.jquery.js"></script>
<link rel="stylesheet" href="css/style.css" />
<script>
		$(function(){
			$('#slides').slides({
				preload: true,
				preloadImage: 'img/loading.gif',
				play: 5000,
				pause: 2500,
				hoverPause: true
			});
		});
</script>

<style>
	
</style>
</head>

<body>
	<header>
		<!--<div><img src="images/logo.png"></div>-->
        <div id="container">
          <div id="example">
            <div id="slides" style="width:100%">
              <div class="slides_container" > 
			   <img src="images/banner.jpg" width="100%" height="214" /> 
			   <img src="images/banner.jpg" width="100%" height="214" /> 
			   <img src="images/banner.jpg" width="100%" height="214" /> 
			   <img src="images/banner.jpg" width="100%" height="214" />
			   <img src="images/banner.jpg" width="100%" height="214" />			  
			   </div>
            </div>
          </div>
        </div>
	</header>
	<nav>
		<ul>
			<a href="xsms.html">
			<li>
				<ul>
					<li><img src="images/xsms.png"  width="50" height="50"/></li>
					<li id="li2"><span id="list1">限时秒杀</span></li>
					<li id="li3"><span id="list2">Timed Seckill</span></li>
					<li id="li1"><img src="images/jiantou.png" /></li>
					<div id="div1"><img src="images/xian.png"  width="100%"/></div>
				</ul>
			</li>
			</a>
			<a href="yzkb.html">
			<li>
				<ul>
					<li><img src="images/yzkb.png" width="50" height="50"/></li>
					<li id="li2"><span id="list1">银座快报</span></li>
					<li id="li3"><span id="list2">Yinzuo News</span></li>
					<li id="li1"><img src="images/jiantou.png" /></li>
					<div id="div1"><img src="images/xian.png"  width="100%"/></div>
				</ul>
			</li>
			</a>
			<a href="tjsp.html">
			<li>
				<ul>
					<li><img src="images/tjsp.png"  width="50" height="50"/></li>
					<li id="li2"><span id="list1">特价商品</span></li>
					<li id="li3"><span id="list2">Bargain goods</span></li>
					<li id="li1"><img src="images/jiantou.png" /></li>
					<div id="div1"><img src="images/xian.png"  width="100%"/></div>
				</ul>
			</li>
			</a>
			<a href="yhq.html">
			<li>
				<ul>
					<li><img src="images/yhq.png"  width="50" height="50"/></li>
					<li id="li2"><span id="list1">优惠券</span></li>
					<li id="li3"><span id="list2">Coupon</span></li>
					<li id="li1"><img src="images/jiantou.png" /></li>
					<div id="div1" style="margin-bottom:50px;"><img src="images/xian.png"  width="100%"/></div>
				</ul>
			</li>
			</a>
		</ul>
	</nav>
	<footer>
		<ul>
			<li>
				<div><img src="images/sy.png"  width="20" height="20"/></div>
				<div style="margin-top:5px;"><a href="index.html">首页</a></div>
			</li>
			<li>
				<div><img src="images/yz.png"  width="20" height="20"/></div>
				<div style="margin-top:5px;"><a href="fenlei.html">我的银座</a></div>
			</li>
			<li>
				<div><img src="images/shop.png"  width="20" height="20"/></div>
				<div style="margin-top:5px;"><a href="login.html">购物车</a></div>
			</li>
			<li>
				<div><img src="images/ss.png"  width="20" height="20"/></div>
				<div style="margin-top:5px;"><a href="search.html">搜索</a></div>
			</li>
			<li>
				<div><img src="images/more.png"  width="20" height="20"/></div>
				<div style="margin-top:5px;"><a href="all.html">更多</a></div>
			</li>
		</ul>
	</footer>
</body>
</html>
