<!DOCTYPE HTML>
<html  lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>产品搜索</title>
<script src="js/jquery-1.4.4.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />  <!--自适应宽度,并不允许缩放-->
<script mce_src="html://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<script src="http://html5media.googlecode.com/svn/trunk/src/html5media.min.js"></script>
<script src="js/slides.min.jquery.js"></script>
<link rel="stylesheet" href="css/style.css" />
</head>

<body style="background:#FFFFFF">
<div id="rcyp">
	产品搜索
</div>
<div style="text-align:center; margin-top:20px;">
	<input type="text"  style="height:25px"/>
	<input type="button" value="搜索" style="background:#0099FF; border:1px #0099FF solid; width:50px; height:30px; color:#FFFFFF; font-size:14px; font-weight:bold"/>
</div>
<footer>
		<ul>
			<li>
				<div><img src="images/sy.png"  width="20" height="20"/></div>
				<div style="margin-top:5px;"><a href="index.html">首页</a></div>
			</li>
			<li>
				<div><img src="images/yz.png"  width="20" height="20"/></div>
				<div style="margin-top:5px;"><a href="fenlei.html">我的银座</a></div>
			</li>
			<li>
				<div><img src="images/shop.png"  width="20" height="20"/></div>
				<div style="margin-top:5px;"><a href="login.html">购物车</a></div>
			</li>
			<li>
				<div><img src="images/ss.png"  width="20" height="20"/></div>
				<div style="margin-top:5px;"><a href="search.html">搜索</a></div>
			</li>
			<li>
				<div><img src="images/more.png"  width="20" height="20"/></div>
				<div style="margin-top:5px;"><a href="all.html">更多</a></div>
			</li>
		</ul>
	</footer>
</body>
</html>
