<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>我的购物车</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />  <!--自适应宽度,并不允许缩放-->
<script mce_src="html://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<script src="http://html5media.googlecode.com/svn/trunk/src/html5media.min.js"></script>
<link rel="stylesheet" href="css/style.css" />

</head>

<body>
<div id="rcyp">
	我的购物车
	<input type="button" value="全选" id="shopinput"/>
	<input type="button" value="删除" id="shopinput"/>
</div>
<div style="width:100%; margin-top:20px;" class="shopdiv">
	<ul>
		<li style="margin-top:50px; width:5%;"><input type="checkbox" name="checkbox" value="checkbox"/></li>
		<li style="margin-top:5px; width:35%;"><img src="images/tj.png"  width="90" height="90" style="padding:5px;"/></li>
		<li style="margin-top:20px; width:45%">
			<div>商品名称</div>
			<div style="margin-top:20px; float:right;"><span style="color:#FF0000">￥200*</span> <input type="text" name="textfield"  style="width:50px" value="1"/></div>	
		</li>
	</ul>
</div>
<div style="width:100%; margin-top:20px;" class="shopdiv">
	<ul>
		<li style="margin-top:50px; width:5%;"><input type="checkbox" name="checkbox" value="checkbox"/></li>
		<li style="margin-top:5px; width:35%;"><img src="images/tj.png"  width="90" height="90" style="padding:5px;"/></li>
		<li style="margin-top:20px; width:45%">
			<div>商品名称</div>
			<div style="margin-top:20px; float:right;"><span style="color:#FF0000">￥200*</span> <input type="text" name="textfield"  style="width:50px" value="1"/></div>	
		</li>
	</ul>
</div>
<div style="clear:both"></div>
<div class="shopdiv1">
	<ul>
		<li><div style="width:60%; background:#FFFFFF;">合计：￥0</div></li>
		<li><a href="address.html"><div style="width:39%; background:#FF9933; color:#FFFFFF">结算</div></a></li>
	</ul>
</div>
<footer>
		<ul>
			<li>
				<div><img src="images/sy.png"  width="20" height="20"/></div>
				<div style="margin-top:5px;"><a href="index.html">首页</a></div>
			</li>
			<li>
				<div><img src="images/yz.png"  width="20" height="20"/></div>
				<div style="margin-top:5px;"><a href="fenlei.html">我的银座</a></div>
			</li>
			<li>
				<div><img src="images/shop.png"  width="20" height="20"/></div>
				<div style="margin-top:5px;"><a href="login.html">购物车</a></div>
			</li>
			<li>
				<div><img src="images/ss.png"  width="20" height="20"/></div>
				<div style="margin-top:5px;"><a href="search.html">搜索</a></div>
			</li>
			<li>
				<div><img src="images/more.png"  width="20" height="20"/></div>
				<div style="margin-top:5px;"><a href="all.html">更多</a></div>
			</li>
		</ul>
	</footer>
</body>
</html>
