<!DOCTYPE HTML>
<html  lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script src="js/jquery-1.4.4.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />  <!--自适应宽度,并不允许缩放-->
<script mce_src="html://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<script src="http://html5media.googlecode.com/svn/trunk/src/html5media.min.js"></script>
<link rel="stylesheet" href="css/style.css" />
<style>
	
</style>
<title>特价商品</title>
</head>

<body>
<img src="images/banner2.jpg"  width="100%" height="100"/>
<div style="margin-top:10px;">
	<div style="width:40%; float:left; margin-left:5%">
		<div style="border:1px #CCCCCC solid; border-radius:10px;">
			<div id="tjsp1">
				<div id="tjsp2">7折</div>		
			</div>
			<div style="margin-top:-20px; text-align:center;margin-bottom:20px">
				<a href="xiangxi.html"><img src="images/tj.png" width="100" height="100" /></a>
			</div>
		</div>
		<div style="clear:both"></div>
		<div id="tjsp3">Burberry米黄色HaymarketCheck格子手提包</div>
		<div style="clear:both"></div>
		<div id="tjsp3" style="margin-top:10px;">
			<del>500￥</del>
			<em style="color:#FF0000">350￥</em>
		</div>
	</div>
	<div style="width:40%; float:right; margin-right:5%">
		<div style="border:1px #CCCCCC solid; border-radius:10px;">
			<div id="tjsp1">
				<div id="tjsp2">7折</div>		
			</div>
			<div style="margin-top:-20px; text-align:center;margin-bottom:20px">
				<a href="xiangxi.html"><img src="images/tj.png" width="100" height="100" /></a>
			</div>
		</div>
		<div style="clear:both"></div>
		<div id="tjsp3">Burberry米黄色HaymarketCheck格子手提包</div>
		<div style="clear:both"></div>
		<div id="tjsp3" style="margin-top:10px;">
			<del>500￥</del>
			<em style="color:#FF0000">350￥</em>
		</div>
	</div>
</div>

<div style="clear:both"></div>
<div style="margin-top:10px;">
	<div style="width:40%; float:left; margin-left:5%">
		<div style="border:1px #CCCCCC solid; border-radius:10px;">
			<div id="tjsp1">
				<div id="tjsp2">7折</div>		
			</div>
			<div style="margin-top:-20px; text-align:center;margin-bottom:20px">
				<a href="xiangxi.html"><img src="images/tj.png" width="100" height="100" /></a>
			</div>
		</div>
		<div style="clear:both"></div>
		<div id="tjsp3">Burberry米黄色HaymarketCheck格子手提包</div>
		<div style="clear:both"></div>
		<div id="tjsp3" style="margin-top:10px;">
			<del>500￥</del>
			<em style="color:#FF0000">350￥</em>
		</div>
	</div>
	<div style="width:40%; float:right; margin-right:5%">
		<div style="border:1px #CCCCCC solid; border-radius:10px;">
			<div id="tjsp1">
				<div id="tjsp2">7折</div>		
			</div>
			<div style="margin-top:-20px; text-align:center;margin-bottom:20px">
				<a href="xiangxi.html"><img src="images/tj.png" width="100" height="100" /></a>
			</div>
		</div>
		<div style="clear:both"></div>
		<div id="tjsp3">Burberry米黄色HaymarketCheck格子手提包</div>
		<div style="clear:both"></div>
		<div id="tjsp3" style="margin-top:10px;">
			<del>500￥</del>
			<em style="color:#FF0000">350￥</em>
		</div>
	</div>
</div>
<div style="clear:both"></div>
<div style="height:50px;"></div>
<footer>
		<ul>
			<li>
				<div><img src="images/sy.png"  width="20" height="20"/></div>
				<div style="margin-top:5px;"><a href="index.html">首页</a></div>
			</li>
			<li>
				<div><img src="images/yz.png"  width="20" height="20"/></div>
				<div style="margin-top:5px;"><a href="fenlei.html">我的银座</a></div>
			</li>
			<li>
				<div><img src="images/shop.png"  width="20" height="20"/></div>
				<div style="margin-top:5px;"><a href="login.html">购物车</a></div>
			</li>
			<li>
				<div><img src="images/ss.png"  width="20" height="20"/></div>
				<div style="margin-top:5px;"><a href="search.html">搜索</a></div>
			</li>
			<li>
				<div><img src="images/more.png"  width="20" height="20"/></div>
				<div style="margin-top:5px;"><a href="all.html">更多</a></div>
			</li>
		</ul>
	</footer>
</body>
</html>
