<!DOCTYPE HTML>
<html  lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />  <!--自适应宽度,并不允许缩放-->
<script mce_src="html://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<script src="http://html5media.googlecode.com/svn/trunk/src/html5media.min.js"></script>
<script src="js/jquery-1.4.4.min.js"></script>
<link rel="stylesheet" href="css/style.css" />
<title>详情</title>

</head>

<body>
<div id="rcyp">
	商品详情
</div>
<header>
	 <div class="xiangqing"><img src="images/tj.png" width="200" height="200"  style="padding:10px;"/></div> 
</header>
<section style="font-size:12px;">
	<p style="text-align:center; font-size:14px; font-weight:bold">商品名称</p>
	<p style="margin-left:10%">价格：<span style="color:#FF0000">￥200-￥300</span></p>
	<p style="margin-left:10%">颜色分类：黑色、白色、、、</p>
	<p align="center">
		<a href="address.html"><input  type="button" value="立即购买" style="background:#FF3333; border:1px #FF3333 solid; color:#FFFFFF; width:90px; height:30px;"/></a>
		<a href="shopcar.html"><input  type="button" value="我的购物车" style="background:#cccccc; border:1px #cccccc solid; color:#FFFFFF; width:90px; height:30px;"/></a>
		<input  type="button" value="加入购物车" style="background:#0099FF; border:1px #0099FF solid; color:#FFFFFF; width:90px; height:30px;"/>
	</p>
</section>
<section>
	<img src="images/xiangxi.png" width="100%">
	<p style="margin-left:9%; margin-top:-7%">商品详情</p>
	<div style="clear:both"></div>
	<div style="margin-top:10px; text-align:center">
		<img src="images/banner.jpg" width="90%" height="250">
		<img src="images/banner.jpg" width="90%" height="250">
	</div>
</section>
<div style="clear:both"></div>
<div style="height:50px;"></div>
<footer>
		<ul>
			<li>
				<div><img src="images/sy.png"  width="20" height="20"/></div>
				<div style="margin-top:5px;"><a href="index.html">首页</a></div>
			</li>
			<li>
				<div><img src="images/yz.png"  width="20" height="20"/></div>
				<div style="margin-top:5px;"><a href="fenlei.html">我的银座</a></div>
			</li>
			<li>
				<div><img src="images/shop.png"  width="20" height="20"/></div>
				<div style="margin-top:5px;"><a href="login.html">购物车</a></div>
			</li>
			<li>
				<div><img src="images/ss.png"  width="20" height="20"/></div>
				<div style="margin-top:5px;"><a href="search.html">搜索</a></div>
			</li>
			<li>
				<div><img src="images/more.png"  width="20" height="20"/></div>
				<div style="margin-top:5px;"><a href="all.html">更多</a></div>
			</li>
		</ul>
	</footer>
</body>
</html>
