<!DOCTYPE HTML>
<html  lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script src="js/jquery-1.4.4.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />  <!--自适应宽度,并不允许缩放-->
<script mce_src="html://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<script src="http://html5media.googlecode.com/svn/trunk/src/html5media.min.js"></script>
<title>银座快报</title>
</head>

<body>
<article>
	<h1>关于假冒银座网进行诈骗的声明！</h1>
	<p>
		近期接到消费者反映，有不法分子打着银座网的名义，询问消费者的银行卡账户信息，并要求到银行网点进行相关操作，进行诈骗活动。
	</p>
	<p>
		 <strong>银座网特此声明：</strong>银座网从未以任何名义要求客户对自己的银行卡进行相关操作，如有任何组织或个人以银座网名义电话向客户索取银行卡账户信息，并要求进行任何操作的，均属违法诈骗行为。客户若遇到类似情况，银座网建议客户及时报警，并通知银座网客户服务人员，银座网将积极配合相关部门予以调查处理，并尽一切努力，协助消费者维护合法权益，银座网保留追究相关违法人员法律责任的一切权利。另外，银座网特别提醒消费者，有关银座网的客服电话、优惠促销信息，请以银座网网站公布的信息为准，谨防上当受骗。
	</p>
	<p>
		<strong>诈骗方式举例：</strong>行骗人员自称是银座网工作人员，询问您是否购买的某某商品（该商品为您近期购买的商品），然后告知您的付款出了问题，会有银行工作人员与您联系。之后会有虚假银行工作人员电话告知您，您的银行卡将会每月扣费**元，请到就就近ATM机或网点，按照行骗人员的要求，对银行卡进行相关操作。
	</p>
	<p>
		<strong> 温馨提示：　</strong>
	</p>
	<p>
		不要轻易将重要信息泄漏给他人；保管好身份证、银行存折、银行卡、重要账户密码等个人信息，防止被不法分子盗用。
	</p>
	<p>
		如果您有任何疑问或不明之处，可拨打我司客服电话：400-658-6060。或者登陆我司官网：www.yinzuo100.com 查询相关信息！
	</p>
</article>
<footer>
		<ul>
			<li>
				<div><img src="images/sy.png"  width="20" height="20"/></div>
				<div style="margin-top:5px;"><a href="index.html">首页</a></div>
			</li>
			<li>
				<div><img src="images/yz.png"  width="20" height="20"/></div>
				<div style="margin-top:5px;"><a href="fenlei.html">我的银座</a></div>
			</li>
			<li>
				<div><img src="images/shop.png"  width="20" height="20"/></div>
				<div style="margin-top:5px;"><a href="login.html">购物车</a></div>
			</li>
			<li>
				<div><img src="images/ss.png"  width="20" height="20"/></div>
				<div style="margin-top:5px;"><a href="search.html">搜索</a></div>
			</li>
			<li>
				<div><img src="images/more.png"  width="20" height="20"/></div>
				<div style="margin-top:5px;"><a href="all.html">更多</a></div>
			</li>
		</ul>
	</footer>
</body>
</html>
