@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
}
.imgcode{
	width: 160px;
}
a.mailto{
	text-align: center;
	margin: 0 auto;
}
a.mailto:hover{
	color:red;
}
.shadowarticlefont{
	text-shadow: 0 1px 1px rgba(0, 0, 0, .1), 0 0 2px rgba(0, 0, 0, .05);
	font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB",
		"Hiragino Sans GB W3", "Microsoft YaHei UI", "Microsoft YaHei",
		"WenQuanYi Micro Hei", sans-serif;
}
.carousel-caption .slidehref{
	color:#FFF;
	box-shadow:1px 1px 10px #000; 
}
.carousel-caption:hover{
	color:red;
}
.t-red{
	color:red;
}
.t-green{
	color: #4cae4c;
}
.appLoading{
	z-index: 9999;
	background: white;
	border-radius: 5px;
	min-width:280px;
	height:100px;
	padding: 10px;
	margin: 0 auto;
	position: fixed;
	top:40%;
	left:50%;
	margin-left: -140px;  
	margin-top: -50px;
	border:1px solid #DDD;
}
.appLoading .loading-dialog{
	margin: 0 auto;
	min-width:240px;
	text-align: center;
}
.appLoading .loading-dialog .loading-msg{
	font-size: 1.2em;
	padding: 5px;
}
.appLoading .loading-dialog .loading-icon{
	font-size:25px;
	height:25px;
	margin:auto;
	background: url("imgs/waitting.gif") center no-repeat;
	}


body {
	width: 100%;
	color: #3f3f3f;
	overflow-x: hidden;
	background: url("imgs/leftboxbg.png");
	font-family: "微软雅黑", Helvetica, Arial, sans-serif;
}
.cursorhand{
	cursor: pointer;
}

.qrcodebox{
	width: 308px;
	height:340px;
	background:#FFF;
	margin:0 auto;
	margin-bottom:15px;
	border:1px solid #DDD;
	border-radius:4px;
}
.qrimgbox{
	text-align: center;
	margin: 0 atuo;
}
img{border: 0;}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
li{
	list-style: none;
}

.border {
	border: 1px solid red;
}

.border-bottom {
	border: 1px dotted #353535;
}

.fleft {
	float: left;
}

.fright {
	float: right;
}

.ienotsupport {
	position:absolute;
	z-index:9999;
	left:0;
	top:0;
	padding-top: 10px;
	width: 100%;
	margin: auto;
	text-align: center;
	line-height: 24px;
	color: red;
	background: #FEFEFE;
	border: 1px dotted #ec9055;
}

.half {
	width: 50%;
}

.mcenter {
	margin: auto;
}

.tcenter {
	text-align: center;
}

.tleft {
	text-align: left;
}

.tright {
	text-align: right;
}

.box {
	width: 100%;
}

.header {
	background: url(imgs/header_bg.jpg);
	font-family: "微软雅黑", Helvetica, Arial, sans-serif;
	height: 140px;
	width:100%;
}



.header-top {
	height: 101px;
	margin: 0 auto;
	width: 990px;
}

.logo {
	background: url(imgs/logo.png) center no-repeat;
	width: 218px;
	height: 100px;
}

.logoright {
	padding-top: 38px;
}

.inline {
	display: inline-block;
}

.searchDiv {
	width: 245px;
}

.placeholder {
	font-size: 14px;
	color: #EEE;
}

.search {
	width: 180px;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 2px;
	margin: 0px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.searchBtn {
	cursor: pointer;
	width: 60px;
	margin-left: -5px;
	background: #FF55ee;
	height: 34px;
	border: 1px solid #ccc;
	border-left: 0px; color : #555;
	background-color: #EEE;
	text-align: center;
	border-radius: 2px;
	line-height: 30px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	color: #555;
}

.shadowfont {
	text-shadow: 0 1px 1px rgba(0, 0, 0, .4), 0 0 5px rgba(0, 0, 0, .055);
	font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB",
		"Hiragino Sans GB W3", "Microsoft YaHei UI", "Microsoft YaHei",
		"WenQuanYi Micro Hei", sans-serif;
}

.t-wh {
	color: #FFF;
}

.t-blue {
	color: #004276;
}

.t-lblue {
	color: #99ccff;
}

.t-orange {
	color: #ea6103;
}

.font-12 {
	font-size: 12px;
}

.font-14 {
	font-size: 14px;
}

.font-16 {
	font-size: 16px;
}

.font-18 {
	font-size: 18px;
}

.font-20 {
	font-size: 20px;
	_font-weight: bold;
	*font-weight: bold; +
	font-weight: bold;
	font-weight: bold\9;
}
.font-35 {
	font-size: 35px;
	_font-weight: bold;
	*font-weight: bold; +
	font-weight: bold;
	font-weight: bold\9;
}

a:hover {
	text-decoration: none;
	color: #99ccff;
}

.pt5 {
	padding-top: 5px;
}

.pt10 {
	padding-top: 10px;
}

.pt15 {
	padding-top: 15px;
}
.pt20 {
	padding-top: 20px;
}

.plr5 {
	padding: 0 5px;
}
.plr10 {
	padding: 0 10px;
}

.ptb10 {
	padding: 10px 0px;
}

.pr10 {
	padding-right: 10px;
}

.pd5 {
	padding: 5px;
}

.pd10 {
	padding: 10px;
}

.pd15 {
	padding: 15px;
}

.pd20 {
	padding: 20px;
}

.mt10{
	margin-top: 10px;
}
.mt20{
	margin-top: 20px;
}

.ml5 {
	margin-left: 5px;
}

.ml10 {
	margin-left: 10px;
}

.ml15 {
	margin-left: 15px;
}

.ml20 {
	margin-left: 20px;
}
.footer {
	background: url(imgs/footer_bg.jpg) repeat-x 0 100%;
	font-family: "微软雅黑", Geneva, sans-serif;
	min-height: 150px;
	width:100%;
}
.hline {
height: 10px;
border-bottom: 1px solid #242424;
}
.hline div {
height: 9px;
border-bottom: 1px solid #496179;
}
.linkdiv{
	width:990px;
	color:white;
	min-height:110px;
	margin:0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
}
.links{
	width: 890px;
	text-align: center;
	color:#99ccff;
	margin: auto;
	padding-top:5px;
}
.links a{
	color: #99ccff;
	padding: 0  5px;
	word-wrap: break-word;  
	font-size:12px;
word-break: normal;
}
.links a:hover{
	color:white;
}
.copyright{
	text-align:center;
	color:#7c8389;
	height: 40px;
	width: 100%;
	line-height: 40px;
	background: #101e28
}

.header-navs{
	width: 990px;
	padding:0;
	height: 40px;
	line-height: 40px;
	text-align: left;
	position: absolute;
	margin-left: -360px;
	left:50%;
	
}
.header-navs ul{
	width:990px;
	padding: 0;
	margin: 0;
	text-align: left;
}
.header-navs ul>li{
	float: left;
	text-align: center;
}
.header-navs ul>li+li+li:before{
	padding:0 1px;
	color: #093f61;
	content: "/\00a0";
}

.header-navs a{
	display:inline-block;
	width:100px;
	color:#FFF;
	font-size:16px;
	height:40px;
	padding: 0 10px;
	line-height: 40px;
	}

.header-navs a:hover{
		background:url("imgs/navbg.png") center no-repeat;
		color:yellow;
}
.header-navs a.active{
	background:url("imgs/navbg.png") center no-repeat;
		color:yellow;
}
.page{
	height:50px;
	line-height: 48px;
	width: 100%;
}
.prepage{
	cursor:pointer;
	margin-left:40px;
	width: 48px;
	height: 48px;
	background: url("imgs/prepage1.png") center no-repeat;
}
.prepage:hover{
	background: url("imgs/prepage.png") center no-repeat;
}
.pageinfo{
	min-width:150px;
	height:50px;
	line-height:48px;
	text-align: center;
	position: relative;
	left:40%;
	margin-left: -100px;
	font-size:16px;
	font-weight: 600px;
	
}
.pageinfo span{
	padding-right: 5px;
}
.pageinfo span+span+span:before{
	padding:0 1px;
	color: #093f61;
	content: "/\00a0";
}
.nextpage{
	cursor:pointer;
	margin-right:40px;
	width: 48px;
	height: 48px;
	background: url("imgs/nextpage1.png") center no-repeat;
}
.nextpage:hover{
	background: url("imgs/nextpage.png") center no-repeat;
}

.relbox{
	width: 308px;
	background:#FFF;
	border-radius:4px;
	border:1px solid #DDD;
	margin-bottom: 15px;
}
.hide{
	display: none;
}


.relbox .relimgbox{
	width: 140px;
	height:140px;
	margin: 0 auto;
}

.relbox  .relimgbg{
	position: absolute;
	width: 140px;
	height:140px;
	z-index: 2;
	cursor: pointer;
	background: url("imgs/logobg1.png") center no-repeat;
}
.relbox  .relimgbg:hover{
	background: url("imgs/logobg2.png") center no-repeat;
}
.relbox  .relimgbg:active{
	background: url("imgs/logobg2.png") center no-repeat;
}

.relbox .relinfobox{
	width:200px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 15px;
	
}

.relbox .relinfos{
	color:#333333;
	font-size: 14px;
	line-height: 24px;
	color: #004276;
	cursor: pointer;
	background:#FFF;
}

.relbox .relinfos a{
	color: #004276;
}
.relbox .relinfos a:hover{
	color:red;
	cursor: pointer;
}
.relbox .relinfos span+span:before{
	padding:0 1px;
	color: #093f61;
	content: "  ";
}