@CHARSET "UTF-8";
*{
	margin: 0;
	padding: 0;
}
body{
	padding: 0 10px;
}
img{max-width: 100%;height: auto;width: auto\9;}
.main{
	width: 100%;
	background: #FFF;
}


.articledetail{
	width:100%;
	margin:0 auto;
}
.tcenter{
	text-align: center;
}
.mt20{
	margin-top: 20px;
}
.mt10{
	margin-top: 10px;
}
.ad-title{
	color: #3f3f3f;
	line-height: 36px;
	font-size: 26px;
	font-weight:600;
	padding: 5px 0 15px 5px;
	display: block;
}

.ad-author{
padding:0 0 5px 0px;
font-size: 14px;
line-height: 20px;
}
.ad-author span{
	color: #a2a2a2;
	padding-right:2px; 
	margin-left:2px;
}
.ad-author em{
	color: #a2a2a2;
font-style: normal;
margin-right:3px;
}
.ad-contentsm{
	background: #F7F7F7;
	margin-top:10px;
	padding:5px 10px;
	line-height: 30px;
	margin-left: -10px;
	margin-right: -10px;
	
}
.ad-contentsm .content{
	width: 100%;
	color:#595959;
	min-height:60px;
	word-wrap: break-word;
	word-break: normal;
}
.ad-content{
	width: 100%;
	margin: 10px auto;
	line-height: 30px;
	font-size: 16px;
	color: #3f3f3f;
	font-family: "微软雅黑", Geneva, sans-serif;
}
