<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/m_style.css"/>
<script type="text/javascript" src="js/lib.min.js"></script>
<script src="js/jquery-1.8.3.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />  <!--自适应宽度,并不允许缩放-->
<script mce_src="html://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<script src="http://html5media.googlecode.com/svn/trunk/src/html5media.min.js"></script>
<link href="css/index.css" rel="stylesheet" type="text/css" />
<title>作品展示</title>
</head>
<body>
<header>
	<img src="images/logo.png" />
</header>
<div id="box_root" class ="pageIndex">
<div id="box_mainBody">
<div id="box_main" >
<header id="box_header" class="header">
<div class="columnSpace" id="elem-navigation" name="meun"> 
<div id="Columns_navigation" class="Columns_navigation">	
<nav class="navigation01" >
<div class="navBarL active" id="columnprev" onClick="goPrev();">				
<span ></span></div>
<div class="navBody" id="singleScroll">
<ul class="sc_scroller" id="singleScrollUl" style="width:6000px"><li><span class="active" id="column1"><a href="index.html">首页</a></span></li><li><span class="active" id="column2"><a href="about.html">关于我们</a></span></li><li><span class="active" id="column3"><a href="news.html">作品展示</a></span></li><li><span class="active" id="column4"><a href="price.html">拍摄报价</a></span></li><li><span class="active" id="column5"><a href="contant.html">联系我们</a></span></li></ul>
</div>
<div class="navBarR active" id="columnnext" onClick="goNext();">
<span ></span></div>
</nav>
<script type="text/javascript">
function setColumnWidth(){getTotalWidth("1");getTotalWidth("2");getTotalWidth("3");getTotalWidth("4");getTotalWidth("5");$("#singleScrollUl").css("width",ulwidth);		
}
</script>

</div> 
</div>
</header>

﻿</div>
</div>
</div>
<script type="text/javascript" src="js/qy_touch.js"></script>
<script type="text/javascript" src="js/m_common.js"></script>
<div style="margin:20px;"><img src="images/p1.jpg"  width="100%"/></div>
<div style="margin:20px;"><img src="images/p2.jpg"  width="100%"/></div>
<div style="margin:20px;"><img src="images/p3.jpg"  width="100%"/></div>
<div style="clear:both"></div>
<footer>
	<ul>
		<li>
			<div><img src="images/yuyue.png"  width="15" height="15"/></div>
			<div><a href="index.html">首页</a></div>
		</li>
		<li>
			<div><img src="images/phone.png"  width="15" height="15"/></div>
			<div><a href="tel:123456789">电话</a> </div>
		</li>
		<li>
			<div><img src="images/map.png"  width="15" height="15"/></div>
			<div><a href="map.html">地图</a></div>
		</li>
		<li>
			<div><img src="images/fenxiang.png"  width="15" height="15"/></div>
			<div><a href="share.html">分享</a></div>
		</li>
		<li>
			<div><img src="images/message.png"  width="15" height="15"/></div>
			<div><a href="message.html">留言</a></div>
		</li>
	</ul>
</footer>
</body>
</html>
