<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>DIVIEN婚纱定制</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />  <!--自适应宽度,并不允许缩放-->
<script mce_src="html://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<script src="http://html5media.googlecode.com/svn/trunk/src/html5media.min.js"></script>
<link href="css/index.css" rel="stylesheet" type="text/css" />
</head>

<body>
<header>
	<div class="xiangxi">产品报价详情</div>
</header>
<section>
	<div class="xqbg">
		<img src="images/banner3.jpg" class="xqimg">
	</div>
</section>
<section>
	<div class="xqbt">详细信息</div>
</section>
<section class="xq">
	<p>1、思烦恼cio的十多年四方多少都</p>
	<p>1、思烦恼cio的十多年四方多少都</p>
</section>
<footer>
	<ul>
		<li>
			<div><img src="images/yuyue.png"  width="15" height="15"/></div>
			<div><a href="index.html">首页</a></div>
		</li>
		<li>
			<div><img src="images/phone.png"  width="15" height="15"/></div>
			<div><a href="tel:123456789">电话</a> </div>
		</li>
		<li>
			<div><img src="images/map.png"  width="15" height="15"/></div>
			<div><a href="map.html">地图</a></div>
		</li>
		<li>
			<div><img src="images/fenxiang.png"  width="15" height="15"/></div>
			<div><a href="share.html">分享</a></div>
		</li>
		<li>
			<div><img src="images/message.png"  width="15" height="15"/></div>
			<div><a href="message.html">留言</a></div>
		</li>
	</ul>
</footer>
</body>
</html>
