<%@ page language="java" import="java.util.*" pageEncoding="UTF-8"%>
<!-- <div class="articlebox"><div class="title">热门排行榜</div>	<div class="list"><ul id="articleUL"></ul></div></div>
<script>
$(function(){
$.ajax({
type:"get",
url:"article/hot",
datatype:"json",
context:$("#articleUL"),
success:function(result){
if(result.success){
var json=result.data;
if(json&&json.length>0){
for(var i=0;i<json.length;i++){
this.append('<li><div class="listnum">'+(i<9?"0"+(i+1):(i+1))+'</div><a href="article/detail/'+json[i].category+'-'+json[i].id+'">'+json[i].title+'</a></li>');
}}}}});});
</script>  -->
