<%@ page language="java" import="java.util.*" pageEncoding="UTF-8"%>

<!-- <div class="qrcodebox"><li><a class="navitem" rel="company" href="/company">一次设备</a></li>
	  	<li><a class="navitem" rel="person" href="/person" >录波器</a></li></div>
	  	 -->



<!-- <div class="qrcodebox"><div class="title">创业者微信公众号</div><div class="qrimgbox"><img alt=""  src="assets/css/imgs/qunqrcode.jpg" style="width:280px;height:280px;"><a class="mailto" style="display:block;" href="mailto:tg_whcyz@126.com" >扫描二维码关注微信公众号</a></div></div> -->