<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="css/index.css" />
<script type="text/javascript" src="js/wgw.gs.lib.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />  <!--自适应宽度,并不允许缩放-->
<title>公司简介</title>
</head>

<body>
<header>
	<img src="images/about.jpg" width="100%" height="200" />
</header>
<article>
	<h1>公司简介</h1>
	<p class="about" >是你吗康师傅的佛菩萨的是你吗康师傅的佛菩萨的是你吗康师傅的佛菩萨的是你吗康师傅的佛菩萨的是你吗康师傅的佛菩萨的</p>
</article>
<a href="#" style="color:#FF0000">22222</a>
</body>
</html>
