<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="css/index.css" />
<script type="text/javascript" src="js/wgw.gs.lib.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />  <!--自适应宽度,并不允许缩放-->
<title>联系我们</title>

</head>

<body>
<header>
	<img src="images/about.jpg" width="100%" height="200" />
</header>
<address>
	<ul>
		<li>地址：</li>
		<li>电话：</li>
		<li>邮箱：</li>
	</ul>
</address>
</body>
</html>
