<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<link rel="stylesheet"  href="css/m_style.css"/>
<link rel="stylesheet" href="css/index.css" />
<script type="text/javascript" src="js/wgw.gs.lib.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />  <!--自适应宽度,并不允许缩放-->
<title>企业网</title>

</head>

<body>
<div class="FrontSlide" >
<div class="bannerScrollWrap" >
<div class="leftCover"></div>
<div id="bannerScroll">
<div class="prev"><span id="prev" class="active"></span></div>
<ul class="bannerList sc_scroller">
<li><img src="images/banner.jpg" width="100%" height="300" /></li>
<li><img src="images/banner.jpg" width="100%" height="300" /></li>
<li><img src="images/banner.jpg" width="100%"  height="300"/></li>
</ul>

<div class="next"><span id="next" class="active"></span></div> 
</div>
<div class="rightCover"></div>
</div>
</div>
<script type="text/javascript" src="js/qy_touch.js"></script>
<script type="text/javascript" src="js/m_common.js"></script>
	<section class="index1">
		<ul>
			<a href="aboutus.html"><li style="background:#8ed4d2">公司简介</li></a>
			<a href="product.html"><li style="background:#f8b55e">产品介绍</li></a>
		</ul>
	</section>
	<div style="clear:both"></div>
	<a href="product.html">
	<section class="index2">
		成功案例
	</section>
	</a>
	<section class="index1">
		<ul>
			<a href="product.html"><li style="background:#fcb1ba">企业新闻</li></a>
			<a href="contant.html"><li style="background:#8ef6d0">联系我们</li></a>
		</ul>
	</section>
</body>
</html>
