<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>关于我们</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" /> 
<script type="text/javascript" src="js/wgw.gs.lib.min.js"></script>
<link href="css/style.css" rel="stylesheet"/>
<style>
	#content{font-size:18px;width: 90%; height: 55px; padding: 10px; overflow: hidden; margin-top:5px;text-indent:2em;font-family:微软雅黑;}
</style>
<script> 
var s=5; 
var minheight=55; 
var maxheight=200; 
function shoppingcat(){ 
var key = document.getElementById("key").innerText; 
if(key=="查看更多文章"){ 
content.style.pixelHeight+=s; 
if(content.style.pixelHeight<maxheight){ 
setTimeout("shoppingcat();",1); 
}else{ 
document.getElementById("key").innerText="关闭"; 
} 
}else{ 
content.style.pixelHeight-=s; 
if(content.style.pixelHeight>minheight){ 
setTimeout("shoppingcat();",1); 
}else{ 
document.getElementById("key").innerText="查看更多文章"; 
} 
} 
} 
</script> 
</head>

<body>
<div class="top">
<div class="logo">
	<img src="http://www.ifinding.cn/img/logo.png"/>
</div>
<div class="break">
    <img src="images/break.png"/>
</div>
</div>
<div style=" height:200px;">
	<img src="http://www.ifinding.cn/img/about.jpg" height="100%"  width="100%" />
</div>
<div style="width:100%;  background:#FFF; clear:both">
	<div>
		<div class="bg">
			<span>
            	关于我们
			</span>
		</div>
		<div id="content"> 
			济南辉达信息科技有限公司位于济南留学人员创业园，公司于2010年由多名留美博士创立，经过近几年发展，公司目前拥有硬件研发、高性能计算研发、销售等在内的专业体系和营销队伍。 		
		</div> 
		<div class="more" id="key" onClick="shoppingcat();">查看更多文章</div>
	</div>
    <div style="clear:both;"></div>
   <div>
		<div class="bg">
			<span>
            关于微信</span>
		</div>
		<div class="aboutus">
微信通是一个专门针对微信公众账号提供营销推广服务的第三方平台。主要为商家和企业提供与众不同的、有针对性的营销推广服务。通过微信通平台，用户可以轻松管理自己的各类信息，对公众号码进行维护，开展有奖竞猜、关注有礼、会员卡积分、打造微官网、组织微群等多种活动，通过漂流瓶、摇一摇等微信内部工具聚集人气，极大地扩展潜在客户群和实现企业的运营目标。
微信通平台弥补了微信公众平台本身功能的不足，为企业提供更为贴心全面的服务。智能化的客服系统让用户从繁琐的日常客服工作中解脱，从而成为商家便利的创新获利渠道。。 		
		</div>
        <div class="more">查看更多文章</div>
	</div>
    <div style="clear:both;"></div>
</div>
<div style=" height:50px;"></div>
<div style=" clear:both"></div>
<footer>
	<ul>
    	<li><a href=""><img src="images/grid.png" /></a></li>
        <li><a href=""><img src="images/user.png"/></a></li>
        <li><a href=""><img src="images/smarpho.png"/></a></li>
        <li><a href=""><img src="images/chat3.png"/></a></li>
    </ul>
</footer>
</body>
</html>
