<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>无标题文档</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" /> 
<script type="text/javascript" src="js/wgw.gs.lib.min.js"></script>
<link href="css/style.css" rel="stylesheet"/>
</head>

<body style="background:#FFFFFF">
<div style="height:60px; width:100%; background:#000000">
<div class="top">
<div class="logo">
	<img src="http://www.ifinding.cn/img/logo.png"/>
</div>
<div class="break">
    <img src="images/break.png"/>
</div>
</div>
</div>
<div style=" height:200px;">
	<img src="http://www.ifinding.cn/img/t.jpg" height="100%"  width="100%" />
</div>
<div style=" font-size:28px; font-weight:bold; margin-left:10px;">
	联系我们
</div>
<div style="border-bottom:1px solid #dfdfe1;"></div>
<div style=" margin-left:10px;">
	<div style="font-size:24px; font-weight:boldl;">地址：山东省</div>
    <div style="font-size:24px; font-weight:boldl;">电话：</div>
    <div style="font-size:24px; font-weight:boldl;">传值:</div>
    <div style="font-size:24px; font-weight:boldl;">张经理：</div>
    <div style="font-size:24px; font-weight:boldl;">赵经理：</div>
    <div style="font-size:24px; font-weight:boldl;">丛经理：</div>
</div>
<div id="allmap"></div>
<div style=" height:50px;"></div>
<div style=" clear:both"></div>
<footer>
	<ul>
    	<li><a href=""><img src="images/grid.png" /></a></li>
        <li><a href=""><img src="images/user.png"/></a></li>
        <li><a href=""><img src="images/smarpho.png"/></a></li>
        <li><a href=""><img src="images/chat3.png"/></a></li>
    </ul>
</footer>
<div style="float:right; margin-bottom:20px;">
	<iframe width="600" height="380" frameborder="0" scrolling="no" marginheight="0"
                                marginwidth="0" src="zongbu.html"></iframe>
</div>
</body>
</html>
