<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="js/wgw.gs.lib.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />  <!--自适应宽度,并不允许缩放-->
<script mce_src="html://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<script src="http://html5media.googlecode.com/svn/trunk/src/html5media.min.js"></script>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<title>微聚家</title>
</head>

<body>
<div class="top">
<div class="logo">
	<img src="http://www.ifinding.cn/img/logo.png"/>
</div>
<div class="break">
    <img src="images/break.png"/>
</div>
</div>

<nav class="navigation01" >
<div class="navBody" id="singleScroll">
<ul class="sc_scroller" id="singleScrollUl" style="width:6000px"><li><span class="active" id="column1"><a href="index.html"></a></span></li><li><span class="active" id="column2"><a href="about.html"></a></span></li><li><span class="active" id="column3"><a href="news.html"></a></span></li><li><span class="active" id="column4"><a href="price.html"></a></span></li><li><span class="active" id="column5"><a href="contant.html"></a></span></li></ul>
</div>
</nav>
<script type="text/javascript">
function setColumnWidth(){getTotalWidth("1");getTotalWidth("2");getTotalWidth("3");getTotalWidth("4");getTotalWidth("5");$("#singleScrollUl").css("width",ulwidth);		
}
</script>

<div class="FrontSlide" >
<div class="bannerScrollWrap" >
<div class="leftCover"></div>
<div id="bannerScroll">
<div class="prev"><span id="prev" class="active"></span></div>
<ul class="bannerList sc_scroller">
<li><a href=""><img src="http://www.ifinding.cn/img/banner1.jpg" width="100%" height="300" /></a></li>
<li><a href=""><img src="http://www.ifinding.cn/img/banner2.1.jpg" width="100%" height="300" /></a></li>
<li><a href=""><img src="http://www.ifinding.cn/img/banner5.jpg" width="100%"  height="300"/></a></li>
</ul>

<div class="next"><span id="next" class="active"></span></div> 
</div>
<div class="rightCover"></div>
</div>
</div>


<div class="center">
	<div clas="center_row1">
    	<a href="success.html"><div class="center_row1_one">
        	<ul>
            	<li><img src="images/grid.png" /></li>
                <li>产品介绍</li>
            </ul>
        
        
        </div></a>
        <a href="contant.html"><div class="center_row1_two">
        	<ul>
            	<li><img src="images/smarpho.png"></li>
                <li>联系我们</li>
            </ul>
        
       </div></a>
        <a href="success.html"><div class="center_row1_three">
        	<ul>
            	<li><img src="images/thumbs.png"></li>
                <li>成功案例</li>
            </ul>
        
        </div></a>
    </div>
	<div clas="center_row2">
    	<a href="tuiguang.html"><div class="center_row2_one">
        	<ul>
            	<li><img src="images/chat3.png"></li>
                <li>微信推广</li>
            </ul>
        
        
        </div></a>
        <a href="aboutus.html"><div class="center_row2_two">
        	<ul>
            	<li><img src="images/user.png"></li>
                <li>关于我们</li>
            </ul>
        
        </div></a>
        <a href="hezuo.html"><div class="center_row2_three">
        	<ul>
            	<li><img src="images/pc.png"></li>
                <li>渠道合作</li>
            </ul>
        
        </div></a>
    </div>
</div>
<div style=" height:50px;"></div>
<div style=" clear:both"></div>
<script type="text/javascript" src="js/qy_touch.js"></script>
<script type="text/javascript" src="js/m_common.js"></script>
<footer>
	<ul>
    	<li><a href=""><img src="images/grid.png" /></a></li>
        <li><a href=""><img src="images/user.png"/></a></li>
        <li><a href=""><img src="images/smarpho.png"/></a></li>
        <li><a href=""><img src="images/chat3.png"/></a></li>
    </ul>
</footer>
</body>

</html>
