<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>无标题文档</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" /> 
<script type="text/javascript" src="js/wgw.gs.lib.min.js"></script>
<link href="css/style.css" rel="stylesheet"/>
</head>

<body style="background:#FFFFFF">
<div style="height:60px; width:100%; background:#000000">
<div class="top">
<div class="logo">
	<img src="http://www.ifinding.cn/img/logo.png"/>
</div>
<div class="break">
    <img src="images/break.png"/>
</div>
</div>
</div>
<div style=" width:100%;">
	<div style=" width:100%;"><img src="http://www.ifinding.cn/img/tg1.jpg" style=" width:100%;"/></div>
    <div style="color:#000; font-size:24px; font-weight:bold;">微信派单员</div>
    <div style=" margin-top:10px; margin-bottom:10px; font-size:18px;">
    	微信派单员，利用LBS，模拟线下派单。可以按照指定路线和范围，将"传单"以打招呼形式发送给周边的人。
    </div>
</div>
<div style=" width:100%;">
	<div style=" width:100%;"><img src="http://www.ifinding.cn/img/hyk15.jpg" style=" width:100%;"/></div>
    <div style="color:#000; font-size:24px; font-weight:bold;">微信移动广告</div>
    <div style=" margin-top:10px; margin-bottom:10px; font-size:18px;">
    	利用LBS，营销人员在人流量多的地方使用微信，如果"查看附近的人"使用者足够多，这个广告效果会随着微信用户数量的上升而增加，也许这个简单的签名栏变成移动的"黄金广告位"。
    </div>
</div>
<div style=" height:50px;"></div>
<div style=" clear:both"></div>
<footer>
	<ul>
    	<li><a href=""><img src="images/grid.png" /></a></li>
        <li><a href=""><img src="images/user.png"/></a></li>
        <li><a href=""><img src="images/smarpho.png"/></a></li>
        <li><a href=""><img src="images/chat3.png"/></a></li>
    </ul>
</footer>
</body>
</html>
